Repository HubEvolution/EvolutionHub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: fix devDeps (prettier-plugin-astro) and close JSON
  package.json
Due: prettier --write

chore: fix package.json (valid JSON), add hono-rate-limiter, add prettier-plugin-astro
  package.json
Due: prettier --write

chore(deps): add hono-rate-limiter for API rate limiting
  package-lock.json
  package.json
Due: prettier --write

chore: add cheerio and dompurify packages for HTML parsing and sanitization
  package-lock.json
  package.json
Due: prettier --write

chore(ops): health-check supports wrapped JSON and --env label
  scripts/health-check.ts
Due: eslint --fix, prettier --write

docs(rules): document windsorf cascade rules
  .windsurf/global_rules.md
  .windsurf/rules/api-and-security.md
  .windsurf/rules/project-structure.md
  .windsurf/rules/testing-and-ci.md
  .windsurf/rules/tooling-and-style.md
  cascade-rules-lint.txt
  docs/_generated/cascade-rules-detection.md
Due: prettier --write

docs: bootstrap agents playbook
  AGENTS.md
  docs/development/local-development.md
Due: prettier --write

feat: preserve locale when redirecting to welcome-profile after OAuth signup
  .windsurf/global_rules.md
  .windsurf/rules/api-and-security.md
  .windsurf/rules/project-structure.md
  .windsurf/rules/testing-and-ci.md
  .windsurf/rules/tooling-and-style.md
  docs/_generated/cascade-rules-coverage.md
  src/pages/api/auth/oauth/[provider]/callback.ts
  src/pages/de/welcome-profile.astro
  src/pages/en/welcome-profile.astro
Due: eslint --fix, prettier --write

docs: add priority field to windsurf rules and update test paths
  .windsurf/rules/api-and-security.md
  .windsurf/rules/project-structure.md
  .windsurf/rules/testing-and-ci.md
  .windsurf/rules/tooling-and-style.md
  CLAUDE.md
  docs/_generated/cascade-rules-coverage.md
  scripts/dev/gen-cascade-rules-coverage.mjs
  scripts/dev/update-windsurf-rules.mjs
Due: prettier --write

docs: add OpenAPI validation, debug panel, and AI image entitlement rules
  .windsurf/rules/api-and-security.md
  .windsurf/rules/project-structure.md
  .windsurf/rules/testing-and-ci.md
  docs/_generated/cascade-rules-coverage.md
  scripts/dev/gen-cascade-rules-coverage.mjs
  scripts/dev/update-windsurf-rules.mjs
Due: prettier --write

fix(auth): resolve OAuth/Magic Link session cookie issues on HTTP (local dev)
  CLAUDE.md
  docs/ops/stytch-custom-domains.md
  docs/troubleshooting/oauth-login-issues.md
  src/pages/api/auth/callback.ts
  src/pages/api/auth/oauth/[provider]/callback.ts
Due: eslint --fix, prettier --write

chore(build): add development/staging build modes for debug panel
  .github/workflows/deploy.yml
  .windsurf/rules/project-structure.md
  .windsurf/rules/testing-and-ci.md
  docs/_generated/cascade-rules-coverage.md
  docs/tools/debug-panel.md
  package.json
  tests/integration/api/debug-logs-stream.test.ts
  tests/integration/setup/global-setup.ts
Due: eslint --fix, prettier --write

test(auth): comprehensive auth E2E test suite refactoring
  package.json
  test-suite-v2/fixtures/auth-helpers.ts
  test-suite-v2/src/e2e/auth-callback-redirect.spec.ts
  test-suite-v2/src/e2e/auth-first-login-profile.spec.ts
  test-suite-v2/src/e2e/auth/README.md
  test-suite-v2/src/e2e/auth/auth-middleware.spec.ts
  test-suite-v2/src/e2e/auth/oauth/github-oauth-flow.spec.ts
  test-suite-v2/src/e2e/auth/oauth/oauth-cookie-security.spec.ts
  test-suite-v2/src/e2e/auth/oauth/oauth-error-handling.spec.ts
  test-suite-v2/src/e2e/auth/oauth/oauth-welcome-profile.spec.ts
  test-suite-v2/src/e2e/auth/session-management.spec.ts
  tests/playwright/critical-flows.spec.ts
  tests/playwright/debug-login-page.ts
  tests/playwright/example.spec.ts
  tests/playwright/local-test.spec.ts
  tests/playwright/navigation.spec.ts
  tests/playwright/port-helper.ts
  tests/playwright/smoke-test.spec.ts
  tests/playwright/theme.spec.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

docs: update auth E2E test documentation
  .windsurf/rules/testing-and-ci.md
  CLAUDE.md
Due: prettier --write

docs: changelog entries for Debug Panel dev-mode and Vitest projects naming
  CHANGELOG.md
Due: prettier --write

docs: changelog entries for Debug Panel dev-mode and Vitest projects naming (#49)
  CHANGELOG.md
Due: prettier --write

test(e2e): structure v2 categories and docs; move non-auth specs to features/tools/smoke
  AGENTS.md
  docs/_generated/cascade-rules-detection.md
  test-suite-v2/fixtures/common-helpers.ts
  test-suite-v2/fixtures/tool-helpers.ts
  test-suite-v2/src/e2e/README.md
  test-suite-v2/src/e2e/features/README.md
  test-suite-v2/src/e2e/features/comment-system.spec.ts
  test-suite-v2/src/e2e/features/dashboard-flow.spec.ts
  test-suite-v2/src/e2e/smoke/README.md
  test-suite-v2/src/e2e/smoke/pricing-checkout-smoke.spec.ts
  test-suite-v2/src/e2e/smoke/prod-auth-smoke.spec.ts
  test-suite-v2/src/e2e/tools/README.md
  test-suite-v2/src/e2e/tools/image-enhancer.spec.ts
  test-suite-v2/src/e2e/tools/prompt-enhancer-flow.spec.ts
Due: eslint --fix, prettier --write

docs(e2e): document v2 structure and commands in AGENTS and CI/CD; test: fix Playwright setup/teardown and timeouts; dedupe @playwright/test
  AGENTS.md
  docs/development/ci-cd.md
  test-suite-v2/config/playwright-global-setup.ts
  test-suite-v2/config/playwright-global-teardown.ts
  test-suite-v2/package.json
  test-suite-v2/playwright.config.ts
Due: eslint --fix, prettier --write

refactor(aos): centralize AOS config + preload optimization
  docs/frontend/aos-coordinator.md
  docs/frontend/design-system.md
  src/components/AosWrapper.astro
  src/components/scripts/AOSCoordinator.astro
  src/layouts/BaseLayout.astro
  src/lib/aos.ts
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/de/index.astro
  src/pages/en/index.astro
  tests/unit/lib/aos.test.ts
Due: eslint --fix, prettier --write

refactor(aos): migrate Phase 1+2 pages to AosWrapper component
  src/components/BlogList.astro
  src/components/pricing/FeatureComparison.astro
  src/components/pricing/PricingTable.astro
  src/pages/docs/index.astro
Due: eslint --fix, prettier --write

.
  docs/COMMENT_SYSTEM_OPTIMIZATION_PLAN.md
  docs/COMMENT_SYSTEM_SPRINT_PLAN.md
Due: prettier --write

feat(blog-comments): start Phase 1 – admin UI moderation payload fix, notifications hooks, queue processor API, comment-count endpoint, plan updates, and seed templates
  docs/features/blog+commentsystem-plan.md
  migrations/0022_seed_email_templates_comments.sql
  src/components/BlogCard.astro
  src/lib/services/comment-service.ts
  src/pages/admin/comments.astro
  src/pages/api/comments/count.ts
  src/pages/api/notifications/queue/process.ts
Due: eslint --fix, prettier --write

feat(blog-comments,admin,rss): Phase 1.2 UI (filters/pagination/bulk + reasons), Phase 1.1 email gating fix, Phase 1.3 RSS feed; plan/docs updates
  .claude/agents/ui-auditor.md
  docs/development/stripe-setup.md
  docs/features/blog+commentsystem-plan.md
  docs/tools/webscraper/testing.md
  src/components/admin/BulkActions.tsx
  src/lib/services/notification-service.ts
  src/pages/admin/comments.astro
  src/pages/rss.xml.ts
Due: eslint --fix, prettier --write

feat: add comment details modal with API integration in admin UI
  docs/features/blog+commentsystem-plan.md
  migrations/0023_seed_email_templates_comments_en.sql
  src/pages/admin/comments.astro
Due: eslint --fix, prettier --write

feat(blog): optimize BlogCard image with astro:assets Image (responsive widths, WebP/JPEG, sizes)
  src/components/BlogCard.astro
Due: eslint --fix, prettier --write

chore(ci/hooks/security): PW_NO_SERVER in Playwright; pre-push secrets scan + conditional E2E; CI workflows include security:scan; MCP docs; CI/CD docs update
  .github/workflows/deploy.yml
  .github/workflows/e2e-tests.yml
  .husky/pre-push
  .kilocode/README.md
  docs/development/ci-cd.md
  package.json
  playwright.config.ts
  scripts/dev-menu.ts
  scripts/security/scan-secrets.mjs
  test-suite-v2/playwright.config.ts
Due: eslint --fix, prettier --write

chore: batch changes — add memory audit tooling/docs; update rules & configs; auth magic-link/layout tweaks; deps lockfile
  .kilocode/mcp.json
  .windsurf/rules/testing-and-ci.md
  .windsurf/workflows/refactor-internal-memories.md
  astro.config.mjs
  docs/_generated/cascade-rules-coverage.md
  docs/_generated/memory-audit.md
  docs/_generated/memory-index.md
  package-lock.json
  package.json
  scripts/dev-menu.ts
  scripts/dev/gen-memory-index.mjs
  scripts/dev/memory-audit.mjs
  scripts/security/scan-secrets.mjs
  src/components/auth/MagicLinkForm.astro
  src/env.d.ts
  src/layouts/AuthLayout.astro
  src/middleware.ts
  src/pages/api/auth/magic/request.ts
Due: eslint --fix, prettier --write

chore: public readiness (LICENSE, SECURITY, CoC, issue/PR templates only)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  CODE_OF_CONDUCT.md
  LICENSE
Due: prettier --write

LICENSE aktualisieren
  LICENSE
Due: none

fwewef
  docs/_generated/memory-index.md
  tests/integration/setup/global-setup.ts
Due: eslint --fix, prettier --write

feat: add voice transcription API endpoints and schemas to OpenAPI spec
  docs/architecture/voice-visualizer-transcriptor.md
  openapi.yaml
  routes.md
  src/components/BlogCard.astro
  src/components/auth/MagicLinkForm.astro
  src/components/tools/voice-visualizer/VisualizerCanvas.tsx
  src/components/tools/voice-visualizer/VoiceVisualizerIsland.tsx
  src/components/tools/voice-visualizer/api.ts
  src/components/tools/voice-visualizer/hooks/useMicrophone.ts
  src/config/voice/index.ts
  src/env.d.ts
  src/lib/rate-limiter.ts
  src/lib/services/voice-transcribe-service.ts
  src/middleware.ts
  src/pages/api/voice/transcribe.ts
  src/pages/api/voice/usage.ts
  src/pages/de/tools/voice-visualizer/app.astro
  src/pages/en/tools/voice-visualizer/app.astro
Due: eslint --fix, prettier --write

docs(voice): Transcriptor v1.1 — SSE/Poll docs, header policy, tests pointers, E2E README, and observability events
  .windsurf/codemaps/EH __ Transcriptor (Whisper) __ Codemap v1.md
  docs/api/README.md
  docs/architecture/voice-visualizer-transcriptor.md
  test-suite-v2/src/e2e/voice/README.md
  tests/integration/routing/voice-visualizer-permissions.test.ts
Due: eslint --fix, prettier --write

feat: enhance voice visualizer UI with live/final transcript split and connection status indicators
  docs/features/blog+commentsystem-plan.md
  scripts/dev/memory-audit.mjs
  src/components/tools/voice-visualizer/VoiceVisualizerIsland.tsx
  src/lib/services/voice-stream-aggregator.ts
  src/middleware.ts
  src/pages/api/voice/poll.ts
  src/pages/api/voice/stream.ts
  src/pages/api/voice/transcribe.ts
  src/pages/tools/voice-visualizer/app.astro
  test-suite-v2/src/e2e/voice/stream-and-poll.spec.ts
Due: eslint --fix, prettier --write

feat: add configurable auto-redirect delay and bypass option for welcome splash screen
  .env.example
  .windsurf/codemaps/EH __ Locale & Welcome __ Codemap v1.md
  src/lib/i18n/accept-language.ts
  src/middleware.ts
  src/pages/welcome.astro
  tests/integration/routing/headers.test.ts
  tests/integration/routing/locale-routing.test.ts
Due: eslint --fix, prettier --write

docs(locale): document q-values, ?lang alias, flags; routes.md updates; changelog entry
  CHANGELOG.md
  docs/architecture/locale-middleware.md
  routes.md
  tests/integration/routing/lang-alias.test.ts
  tests/integration/routing/seo-hreflang.test.ts
Due: eslint --fix, prettier --write

chore(rules): promote staged feature rules to canonical
  .kilocode/README.md
  .kilocode/rules/template_arbeitsbereich_regeln.md
  .windsurf/context/agent_profiles.json
  .windsurf/context/knowledge_index.json
  .windsurf/context/lints.json
  .windsurf/rules/auth.md
  .windsurf/rules/content.md
  .windsurf/rules/enhancer.md
  .windsurf/rules/infra.md
  .windsurf/rules/pricing.md
  .windsurf/rules/prompt.md
  .windsurf/rules/scraper.md
  .windsurf/rules/testing-and-ci.md
  .windsurf/rules/transcriptor.md
  .windsurf/settings.json
  .windsurf/workflows/agent_knowledge_sync.md
  .windsurf/workflows/agent_knowledge_sync_apply_full.md
  .windsurf/workflows/context_refresh.md
  .windsurf/workflows/context_refresh_apply.md
  .windsurf/workflows/health_check.md
  .windsurf/workflows/status_refresh.md
  .windsurf/workflows/validate-update-cloudflare-rulesetsJSON-safely.md
  AGENTS.md
  CLAUDE.md
  SETUP_GUIDE.md
  docs/development/ci-cd.md
  src/pages/api/health/auth.ts
  workers/cron-worker/src/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,astro}
  prettier --write: (any of: *.{ts,tsx,astro}) or (any of: *.{json,md,yaml,yml})
