Repository HubEvolution/EvolutionHub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

push to main
  docs/development/ci-cd.md
  mcp-hub-admin/src/index.ts
  scripts/warmup.ts
  src/components/Header.astro
  src/components/admin/dashboard/hooks/useAdminMetrics.ts
  src/components/admin/dashboard/hooks/useAdminUserList.ts
  src/components/admin/dashboard/sections/KpiOverviewSection.tsx
  src/components/dashboard/ToolsUsageOverviewCard.tsx
  src/components/landing/ProofBlock.astro
  src/lib/validation/schemas/contact.ts
  src/middleware.ts
  src/pages/api/dashboard/billing-summary.ts
  src/pages/api/perf/mint-session.ts
  src/pages/docs/[slug].astro
  src/pages/docs/index.astro
  src/pages/en/docs/[slug].astro
  tests/integration/api/dashboard/billing-summary.tools.test.ts
Due: eslint --fix, prettier --write

fix: add linguist config to correct language detection
  .gitattributes
Due: none

portfolio: switch README to demo-first flow, add reviewer guide, and tighten gitignore
  .gitignore
  README.md
  docs/portfolio-review.md
Due: prettier --write

cleanup: remove tracked lint log artifact from repo root
  lint.log
Due: none

chore: move products.csv to docs/ops/billing
  docs/ops/billing/products.csv
Due: none

chore: remove root products.csv (moved to docs/ops/billing)
  products.csv
Due: none

docs: optimize portfolio-review.md for scholarship and foundation reviewers
  docs/portfolio-review.md
Due: prettier --write

Merge PR #94: optimize portfolio-review.md
  docs/portfolio-review.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,astro}
  prettier --write: (any of: *.{ts,tsx,astro}) or (any of: *.{json,md,yaml,yml})
