Repository HubEvolution/EvolutionHub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs(rules): add Phase 2 UI-feature rules (auth, enhancer, prompt, scraper, transcriptor, pricing)
  docs/rules/auth.md
  docs/rules/enhancer.md
  docs/rules/pricing.md
  docs/rules/prompt.md
  docs/rules/scraper.md
  docs/rules/transcriptor.md
Due: prettier --write

chore(rules): sync Phase 2 feature rules to .windsurf/rules via script
  .windsurf/rules/auth.md
  .windsurf/rules/enhancer.md
  .windsurf/rules/pricing.md
  .windsurf/rules/prompt.md
  .windsurf/rules/scraper.md
  .windsurf/rules/transcriptor.md
  scripts/dev/sync-windsurf-rules.mjs
Due: prettier --write

docs(security): add interest-cohort=() to Permissions-Policy
  docs/rules/api-and-security.md
Due: prettier --write

docs(rules): sync .windsurf/api-and-security with interest-cohort=() in Permissions-Policy
  .windsurf/rules/api-and-security.md
Due: prettier --write

chore: sync pending changes
  .windsurf/rules/api-and-security.md
  .windsurf/rules/auth.md
  .windsurf/rules/image-enhancer.md
  .windsurf/rules/infra.md
  .windsurf/rules/pricing.md
  .windsurf/rules/project-structure.md
  .windsurf/rules/prompt.md
  .windsurf/rules/scraper.md
  .windsurf/rules/testing-and-ci.md
  .windsurf/rules/tooling-and-style.md
  .windsurf/rules/transcriptor.md
  .windsurf/rules/zod-openapi.md
  docs/rules/api-and-security.md
  docs/rules/auth.md
  docs/rules/enhancer.md
  docs/rules/global-rules.md
  docs/rules/infra.md
  docs/rules/pricing.md
  docs/rules/prompt.md
  docs/rules/scraper.md
  docs/rules/testing-and-ci.md
  docs/rules/tooling-and-style.md
  docs/rules/transcriptor.md
  docs/rules/zod-openapi.md
  openapi.yaml
  reports/zod-openapi-diff.json
  scripts/zod-openapi-diff.ts
  src/lib/validation/schemas/webscraper.ts
Due: eslint --fix, prettier --write

README.md aktualisieren
  README.md
Due: prettier --write

readme changes
  LICENSE
  README.md
Due: prettier --write

Checks
  docs/media/lottie-preview.html
  test/setup.ts
  tests/unit/hooks/imag-enhancer/useCompareInteractions.test.tsx
  tests/unit/hooks/imag-enhancer/useViewportUiMetrics.test.ts
Due: eslint --fix, prettier --write

refactor: update plan entitlements structure in tests
  README.md
  tests/unit/hooks/imag-enhancer/usePlanGating.test.ts
Due: eslint --fix, prettier --write

docs: update README with tool suite preview images
  README.md
Due: prettier --write

``` feat: add automated screenshot capture script for README
  docs/media/evolution-hub-tools.png
  docs/media/imag-enhancer-preview.png
  scripts/dev/capture-readme-screenshots.mjs
Due: none

feat: remove obsolete documentation and CI workflows
  .github/workflows/unit-tests.yml
  .prettierignore
  .windsurf/rules/video-enhancer.md
  CHANGELOG.md
  CHANGELOG_COMMENT_SYSTEM.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/_generated/README-template.md
  docs/architecture/api-middleware-inventory.md
  docs/development/docs-style-guide.md
  docs/feature-roadmap.md
  docs/guides/.gitkeep
  docs/meta/registry.json
  docs/process/.gitkeep
  docs/seo-readonly-launch-2025-10-28.md
  routes.md
  scripts/normalize-routes-links.mjs
  src/components/tools/imag-enhancer/hooks/usePlanGating.ts
  src/types/ts-src-shims.d.ts
  tests/src/pages/api/user/profile.test.ts
  tests/src/server/utils/hashing.test.ts
  tests/unit/comment-components.test.tsx
  tests/unit/dashboard/billing-card.test.tsx
Due: eslint --fix, prettier --write

chore(deps): switch from Dependabot to Renovate
  .github/dependabot.yml
  .github/renovate.json
Due: prettier --write

refactor: consolidate CI workflows into unified pipeline
  .github/workflows/e2e-optin.yml
  .github/workflows/quality-gate.yml
  .github/workflows/unit-coverage.yml
  .github/workflows/unit-tests.yml
Due: prettier --write

feat: strengthen OpenAPI schema validation for admin credit endpoints
  openapi.yaml
Due: prettier --write

docs: add comprehensive AI operations cost report
  docs/business/infra-costs/ai-operations-cost-report.md
Due: prettier --write

refactor: enhance sitemap with blog posts and improved structure
  .gitignore
  .kilocode/mcp.json
  .windsurf/rules/api-and-security.md
  docs/api/admin_api.md
  docs/features/admin-notifications.md
  package-lock.json
  package.json
  src/pages/sitemap.xml.ts
Due: eslint --fix, prettier --write

Create evolutionhub-agent documentation
  .github/agents/evolutionhub-agent.md
Due: prettier --write

chore: setup brand assets (logos, colors, typography) (#84)
  src/assets/README.md
  src/assets/brand/colors/colors.css
  src/assets/brand/colors/colors.json
  src/assets/brand/logo/.gitkeep
  src/assets/brand/typography/.gitkeep
  src/assets/images/.gitkeep
  src/styles/global.css
Due: prettier --write

test
  reports/docs_frontmatter_audit.json
Due: prettier --write

refactor: improve type safety and clean up notification/comment components
  package-lock.json
  package.json
  src/components/admin/AdminClient.tsx
  src/components/admin/dashboard/hooks/useAdminUserList.ts
  src/components/comments/CommentErrorBoundary.tsx
  src/components/comments/CommentKeyboardNav.tsx
  src/components/comments/CommentMobile.tsx
  src/components/comments/CommentThreading.tsx
  src/components/notifications/NotificationCenter.tsx
  src/types/ts-src-shims.d.ts
  tests/integration/api/ai-video/generate.test.ts
  tests/integration/api/web-eval-next.test.ts
  tests/integration/billing-api.test.ts
  tests/integration/comments-api.test.ts
  tests/integration/dashboard-api.test.ts
  tests/integration/lead-magnet-api.test.ts
  tests/integration/projects-api.test.ts
  tests/integration/verify-email.test.ts
  tests/performance/run-load-tests.ts
  tests/shared/http.ts
  tests/unit/pages/api/user/profile.test.ts
  tsconfig.types.json
  wrangler.ci.toml
  wrangler.toml
Due: eslint --fix, prettier --write

refactor: improve code block syntax in assets README
  assets/README.md
Due: prettier --write

chore: add manual workflow trigger and update workers types
  .github/workflows/i18n-validate.yml
  package-lock.json
  package.json
Due: prettier --write

feat: add Evolution Hub brand logo assets
  assets/brand/logo/evolutionhub-logo-dark.svg
  assets/brand/logo/evolutionhub-logo-horizontal.svg
  assets/brand/logo/evolutionhub-logo.svg
  assets/brand/logo/evolutionhub-logomark.svg
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,astro}
  prettier --write: (any of: *.{ts,tsx,astro}) or (any of: *.{json,md,yaml,yml})
