Repository HubEvolution/EvolutionHub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: remove scheduled workflow runs and update auth test path in GitHub Actions
  .github/workflows/auth-dryrun.yml
  .github/workflows/docs-inventory.yml
  .github/workflows/pricing-smoke.yml
  .github/workflows/prod-auth-smoke.yml
Due: prettier --write

ci(cron): remove GH schedules; align CF cron triggers (staging/prod)
  workers/cron-worker/wrangler.toml
Due: none

ci(workflows): migrate schedules to Cloudflare Cron; adjust smoke commands and browser install
  .github/workflows/pricing-smoke.yml
  .github/workflows/prod-auth-smoke.yml
Due: prettier --write

chore: update e2e test paths and remove redundant cron triggers
  .github/workflows/prompt-enhancer-e2e-smoke.yml
  .windsurf/context/codemap_index.json
  .windsurf/context/docs_index.json
  .windsurf/context/knowledge_index.json
  ADR/README.md
  docs/architecture/voice-visualizer-transcriptor.md
  status.md
  workers/cron-worker/maintenance/docs-registry/latest.json
  workers/cron-worker/wrangler.toml
Due: prettier --write

prod readiness checklist
  docs/ops/production-readiness-checklist.md
Due: prettier --write

chore(security): add default Referrer-Policy for HTML responses and fix voice-visualizer route regex
  src/middleware.ts
Due: eslint --fix, prettier --write

Allow Stop during uploads
  src/components/tools/voice-visualizer/VoiceVisualizerIsland.tsx
Due: eslint --fix, prettier --write

ci: gate production on staging smokes + OpenAPI validation
  .github/workflows/deploy.yml
Due: prettier --write

chore(security): add default Referrer-Policy for HTML responses and fix voice-visualizer route regex (#60)
  docs/ops/production-readiness-checklist.md
  src/components/tools/voice-visualizer/VoiceVisualizerIsland.tsx
  src/middleware.ts
Due: eslint --fix, prettier --write

ci: gate production on staging smokes + OpenAPI validation (#61)
  .github/workflows/deploy.yml
Due: prettier --write

chore: bulk commit of current uncommitted changes (skip hooks)
  docs/ops/production-readiness-checklist.md
  migrations/0025_comment_related_text_ids.sql
  migrations/0026_ops_tables_text_ids.sql
  migrations/0026_ops_tables_text_ids_staging.sql
  src/components/comments/CommentList.tsx
  src/lib/db/schema.ts
  src/lib/rate-limiter.ts
  src/lib/services/backup-service.ts
  src/lib/services/comment-service.ts
  src/lib/services/data-export-service.ts
  src/lib/types/comments.ts
  src/lib/types/data-management.ts
  src/pages/api/admin/backup.ts
  src/pages/api/admin/comments/[id]/moderate.ts
  src/pages/api/admin/comments/index.ts
  src/pages/api/auth/magic/request.ts
  src/pages/api/comments/[id].ts
  src/pages/api/comments/create.ts
  src/pages/api/comments/moderate.ts
  src/pages/api/data-export/index.ts
  src/pages/api/user/avatar.ts
  src/pages/blog/[...slug].astro
  tests/integration/user-avatar-api.test.ts
  tests/unit/comment-components.test.tsx
  tests/unit/comment-service.test.ts
  tests/unit/dashboard/quickActionStore.test.ts
  tests/unit/spam-detection.test.ts
  workers/cron-worker/src/index.ts
Due: eslint --fix, prettier --write

chore: bulk commit of current uncommitted changes (skip hooks)PT2
  .gitignore
  src/lib/auth-v2.ts
  src/middleware.ts
  workers/cron-worker/wrangler.toml
  wrangler.toml
Due: eslint --fix, prettier --write

chore: bulk commit of current uncommitted changes PT3
  src/components/auth/MagicLinkForm.astro
  src/components/scripts/AuthStatusNotifier.tsx
  wrangler.toml
Due: eslint --fix, prettier --write

feat(auth): stytch callback optimizations
  src/lib/stytch.ts
  src/pages/api/auth/callback.ts
  src/pages/api/auth/oauth/[provider]/callback.ts
Due: eslint --fix, prettier --write

chore: remove legacy CodeMap prompt documentation
  .windsurf/codemaps/.CodeMap-Prompt.md
  .windsurf/workflows/i18n-audit.md
  migrations/0027_relax_comments_guest_nulls.sql
  migrations/0028_upgrade_comments_legacy_to_modern.sql
  package.json
  src/components/Footer.astro
  src/config/ai-image.ts
  src/content/blog/blog-template-extended.md.tmpl
  src/content/blog/blog-template-minimal.md.tmpl
  src/content/blog/digital-detox-kreativitaet.md
  src/content/blog/gig-economy-chancen-risiken.md
  src/content/blog/imposter-syndrom-ueberwinden.md
  src/content/blog/ki-im-alltag.md
  src/content/blog/konstruktives-feedback-geben.md
  src/content/blog/lebenslanges-lernen-karriere.md
  src/content/blog/mentoring-2-0.md
  src/content/blog/new-work-ist-eine-haltung.md
  src/content/blog/pomodoro-technik-home-office.md
  src/content/blog/vom-ziel-zur-gewohnheit.md
  src/content/blog/wissensmanagement-second-brain.md
  src/content/blog/zukunft-der-fuehrung.md
  src/lib/services/ai-image-service.ts
  src/locales/de.json
  wrangler.toml
Due: eslint --fix, prettier --write

fix: improve image comparison UI with responsive layout and a11y enhancements
  src/components/tools/ImagEnhancerIsland.tsx
  src/components/tools/imag-enhancer/CompareSlider.tsx
  src/components/tools/imag-enhancer/hooks/useCompareInteractions.ts
  src/content/blog/KI-als-Kollege.md
  src/content/blog/images/ki-als-kollege-30-60-90.png
  src/content/blog/images/ki-als-kollege-4-muster.png
  src/content/blog/images/ki-als-kollege-hero.png
  src/content/blog/images/ki-als-kollege-kpis.png
  src/locales/de.json
  src/locales/en.json
  src/pages/tools/imag-enhancer/app.astro
Due: eslint --fix, prettier --write

feat: add focus trap and a11y improvements to image enhancer fullscreen mode
  src/components/tools/ImagEnhancerIsland.tsx
  src/components/tools/imag-enhancer/CompareSlider.tsx
  src/content/blog/KI-als-Kollege.md
  src/lib/blog.ts
  src/lib/content.ts
Due: eslint --fix, prettier --write

README.md Aktualisierung
  README.md
Due: prettier --write

README.md aktualisieren
  README.md
Due: prettier --write

Cleanup in src/components/tools/ImagEnhancerIsland.tsx (Imports/Variablen, kleine Reset‑Helper, Typen/Effects) — ohne DOM/ARIA/Selector‑Änderungen.
  docs/content.md
  docs/frontend/imag-enhancer-ui-upgrade.md
  src/components/tools/ImagEnhancerIsland.tsx
  src/components/tools/imag-enhancer/CompareSlider.tsx
  src/components/tools/imag-enhancer/CompareView.tsx
  src/components/tools/imag-enhancer/CreditsPanel.tsx
  src/components/tools/imag-enhancer/HeaderBar.tsx
  src/components/tools/imag-enhancer/StatusUsagePill.tsx
  src/components/tools/imag-enhancer/UploadSection.tsx
  src/components/tools/imag-enhancer/hooks/useClipboardImagePaste.ts
  src/components/tools/imag-enhancer/hooks/useCreditsCheckout.ts
  src/components/tools/imag-enhancer/hooks/useGlobalShortcuts.ts
  src/components/tools/imag-enhancer/hooks/usePlanGating.ts
  src/components/tools/imag-enhancer/hooks/useViewportUiMetrics.ts
  src/components/tools/imag-enhancer/utils/ui.ts
  src/locales/de.json
  src/locales/en.json
  src/middleware.ts
  test-suite-v2/src/e2e/tools/image-enhancer.gating.spec.ts
  tests/mocks/astro-content.ts
  tests/unit/blog-sorting.spec.ts
  tests/unit/components/imag-enhancer/CreditsPanel.test.tsx
  tests/unit/components/imag-enhancer/ModelControls.test.tsx
  tests/unit/components/imag-enhancer/UploadSection.test.tsx
  tests/unit/hooks/imag-enhancer/useClipboardImagePaste.test.ts
  tests/unit/hooks/imag-enhancer/useCompareInteractions.test.tsx
  tests/unit/hooks/imag-enhancer/useGlobalShortcuts.test.ts
  tests/unit/hooks/imag-enhancer/usePlanGating.test.ts
  tests/unit/hooks/imag-enhancer/useViewportUiMetrics.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: improve image enhancer UI responsiveness and touch targets for mobile
  docs/frontend/imag-enhancer-ui-upgrade.md
  src/components/tools/ImagEnhancerIsland.tsx
  src/components/tools/imag-enhancer/CompareSlider.tsx
  src/components/tools/imag-enhancer/CompareView.tsx
  test-suite-v2/playwright.config.ts
  test-suite-v2/playwright.enhancer.config.ts
Due: eslint --fix, prettier --write

Landing BG PR3: Techcells Hex Mesh (Deep Black) + Dual‑Color Pulses
  .env.example
  public/assets/lottie/outline-edit.json
  public/assets/lottie/outline-mic.json
  public/assets/lottie/outline-photo.json
  public/assets/lottie/outline-search.json
  src/components/comments/CommentSection.tsx
  src/components/landing/CardGraph.tsx
  src/components/landing/ConnectionCTA.astro
  src/components/landing/EchoAvatars.tsx
  src/components/landing/EchoBackdrop.tsx
  src/components/landing/FeatureConnections.tsx
  src/components/landing/HeroNebula.tsx
  src/components/landing/HoloFeaturePanel.astro
  src/components/landing/LandingBackground.tsx
  src/components/landing/LottieIcon.tsx
  src/components/landing/StarfieldBackdrop.tsx
  src/components/landing/TestimonialCard.astro
  src/components/landing/TestimonialsGrid.astro
  src/components/landing/TestimonialsRotatingGrid.tsx
  src/locales/de.json
  src/locales/en.json
  src/pages/de/index.astro
  src/pages/en/index.astro
  src/styles/landing.css
  src/utils/feature-flags.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

chore(ci): add daily Testing Auth Smoke (12:00 UTC)
  .github/workflows/testing-auth-smoke.yml
Due: prettier --write

chore: batch commit (auth + CI smokes + CSRF header fix)
  src/components/dashboard/BillingCard.tsx
  src/middleware.ts
Due: eslint --fix, prettier --write

docs(api): add Admin API docs; openapi: document admin comments endpoints (moderate/delete/bulk)
  docs/api/admin_api.md
  openapi.yaml
Due: prettier --write

cleanup(api): remove unused admin comments stub
  src/pages/api/admin/comments.ts
Due: eslint --fix, prettier --write

feat(api): add Admin Backup Astro routes (GET/POST) with CSRF + sensitiveActionLimiter
  src/pages/api/admin/backup/cleanup.ts
  src/pages/api/admin/backup/create.ts
  src/pages/api/admin/backup/jobs/[id]/index.ts
  src/pages/api/admin/backup/jobs/[id]/progress.ts
  src/pages/api/admin/backup/jobs/index.ts
  src/pages/api/admin/backup/maintenance/jobs/[id].ts
  src/pages/api/admin/backup/maintenance/jobs/index.ts
  src/pages/api/admin/backup/maintenance/perform.ts
  src/pages/api/admin/backup/schedule.ts
  src/pages/api/admin/backup/stats.ts
  src/pages/api/admin/backup/verify/[id].ts
Due: eslint --fix, prettier --write

chore(api): neutralize legacy Hono admin backup route
  src/pages/api/admin/backup.legacy.hono.ts
Due: eslint --fix, prettier --write

docs(rules): add Phase 1 global and security/infra rules
  docs/rules/api-and-security.md
  docs/rules/global-rules.md
  docs/rules/infra.md
  docs/rules/project-rules-deltas.md
  docs/rules/project-structure.md
  docs/rules/testing-and-ci.md
  docs/rules/tooling-and-style.md
  docs/rules/zod-openapi.md
Due: prettier --write

docs(rules): overwrite .windsurf/rules with Phase 1 rules (Security/Infra set)
  .windsurf/rules/api-and-security.md
  .windsurf/rules/infra.md
  .windsurf/rules/project-structure.md
  .windsurf/rules/testing-and-ci.md
  .windsurf/rules/tooling-and-style.md
  .windsurf/rules/zod-openapi.md
Due: prettier --write

chore(scripts): add sync-windsurf-rules script and sync Phase 1 rules
  .windsurf/rules/api-and-security.md
  .windsurf/rules/auth.md
  .windsurf/rules/content.md
  .windsurf/rules/infra.md
  .windsurf/rules/project-structure.md
  .windsurf/rules/testing-and-ci.md
  .windsurf/rules/tooling-and-style.md
  .windsurf/rules/zod-openapi.md
  scripts/dev/sync-windsurf-rules.mjs
Due: prettier --write

fix(api): unify 401 Unauthorized error shape via createApiError
  src/lib/api-middleware.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,astro}
  prettier --write: (any of: *.{ts,tsx,astro}) or (any of: *.{json,md,yaml,yml})
