Repository HubEvolution/EvolutionHub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add production gating for web evaluation executor endpoints
  src/lib/security/cloudflare-access.ts
  src/pages/api/testing/evaluate/[id]/complete.ts
  src/pages/api/testing/evaluate/next.ts
Due: eslint --fix, prettier --write

docs: add AI orchestrator architecture and web evaluation API specs
  docs/architecture/ai-orchestrator-open-questions.md
  openapi.yaml
  reports/typecheck.log
  scripts/cloudflare/mcp-tunnel.yml
  scripts/cloudflare/start-mcp-tunnel.sh
  src/components/dashboard/NewsletterPreferencesCard.tsx
  src/components/notifications/NotificationCenter.tsx
  src/components/notifications/NotificationSettings.tsx
  src/components/projects/ProjectManagement.tsx
  src/components/projects/ProjectModal.tsx
  src/components/tools/video-enhancer/VideoEnhancerIsland.tsx
  src/components/tools/voice-visualizer/hooks/useTranscribeStream.ts
  src/content/config.ts
  src/lib/services/data-export-service.ts
  src/lib/services/performance-service.ts
  src/lib/services/prompt-enhancer-service.ts
  src/lib/services/referral-admin-service.ts
  src/lib/stytch.ts
  src/pages/api/admin/backup.legacy.hono.ts
  src/pages/api/health.ts
  src/pages/api/mcp/ping.ts
  src/pages/api/newsletter/confirm.ts
  src/server/utils/logger-factory.ts
  src/types/ts-src-shims.d.ts
  tests/integration/api/mcp-ping.test.ts
  tsconfig.src.json
  wrangler.toml
Due: eslint --fix, prettier --write

refactor: add Astro ESLint support and update OpenAPI schemas
  eslint.config.js
  openapi.yaml
  package-lock.json
  package.json
  reports/astro-check.log
  reports/eslint.log
  reports/openapi-validate.log
  scripts/cloudflare/mcp-tunnel.yml
  src/lib/services/performance-service.ts
  src/lib/services/prompt-enhancer-service.ts
  src/lib/services/referral-profile-service.ts
Due: eslint --fix, prettier --write

configuration-analysis-2025-11-12.md aktualisieren
  docs/architecture/configuration-analysis-2025-11-12.md
Due: prettier --write

SUMMARY.md aktualisieren
  .windsurf/rules/SUMMARY.md
Due: prettier --write

docs: update integration test documentation and improve test resilience
  docs/testing/web-eval-executor.md
  tests/integration/ai-image-enhancer.test.ts
  tests/integration/api/admin-users-set-plan.test.ts
  tests/integration/api/comments-performance.test.ts
  tests/integration/api/web-eval-complete.test.ts
  tests/integration/api/web-eval-next.test.ts
  tests/integration/api/web-eval-run.test.ts
  tests/integration/comments-api.test.ts
  tests/integration/dashboard-api.test.ts
  tests/integration/lead-magnet-api.test.ts
  tests/integration/newsletter-api.test.ts
  tests/integration/routing/blog-i18n-seo-integration.test.ts
  tests/integration/user-avatar-api.test.ts
Due: eslint --fix, prettier --write

``` feat: add Cascade hooks for IDE guardrails and update documentation
  .logs/cascade-post-write-quality.log
  .logs/cascade-pre-run-command.log
  .logs/cascade-pre-write-guard.log
  .windsurf/hooks.json
  .windsurf/rules/agentic-workflow.md
  .windsurf/rules/api-and-security.md
  .windsurf/rules/auth.md
  .windsurf/rules/testing-and-ci.md
  .windsurf/rules/tooling-and-style.md
  docs/api/README.md
  docs/api/auth_api.md
  docs/api/dashboard.md
  docs/api/routes.md
  docs/development/README.md
  docs/development/agentic-cascade-hooks.md
  docs/ops/README.md
  docs/ops/dashboard-runbook.md
  docs/ops/runbook-auth.md
  docs/reference/api-changelog.md
  docs/tools/cascade/README.md
  docs/tools/cascade/hooks.md
  openapi.yaml
  package-lock.json
  package.json
  scripts/hooks/post-write-quality.mjs
  scripts/hooks/pre-run-command.mjs
  scripts/hooks/pre-write-guard.mjs
  src/components/Header.astro
  src/components/admin/dashboard/hooks/useAdminUserList.ts
  src/components/comments/CommentErrorBoundary.tsx
  src/lib/security-logger.ts
  tests/e2e/specs/a11y.smoke.spec.ts
  tests/e2e/specs/auth-deprecated.spec.ts
  tests/e2e/specs/grids.smoke.spec.ts
  tests/e2e/specs/perf.smoke.spec.ts
  tests/integration/api/billing/credits-security.test.ts
  tests/integration/api/billing/stripe-config.test.ts
  tests/unit/useIsMobile.test.tsx
Due: eslint --fix, prettier --write

``` feat: enhance security logging and improve mobile UX for CTAs
  .logs/cascade-post-write-quality.log
  .logs/cascade-pre-run-command.log
  .logs/cascade-pre-write-guard.log
  docs/features/production-logging.md
  docs/ops/runbook-auth.md
  src/components/blog/BlogCTA.astro
  src/components/blog/LeadMagnetCTA.astro
  src/pages/api/billing/stripe-webhook.ts
  src/pages/api/user/logout-v2.ts
  src/pages/api/user/logout.ts
  tests/e2e/specs/auth-magic-request.spec.ts
  tests/integration/api/debug-login.test.ts
  tests/unit/comment-components.test.tsx
  tests/unit/logging/log-utils.sanitizeObject.test.ts
  tests/unit/logging/security-logger.test.ts
  tests/unit/services/auth-service-login.logging.test.ts
Due: eslint --fix, prettier --write

feat: standardize error logging in authentication and account endpoints
  .logs/cascade-post-write-quality.log
  .logs/cascade-pre-write-guard.log
  src/pages/api/auth/callback.ts
  src/pages/api/auth/oauth/[provider]/callback.ts
  src/pages/api/user/account.ts
Due: eslint --fix, prettier --write

``` feat: add discount management section to admin dashboard and enhance Renovate config
  .github/renovate.json
  docs/development/ci-cd.md
  docs/tools/cascade/hooks.md
  scripts/AGENTS.md
  scripts/hooks/pre-write-guard.mjs
  src/components/AGENTS.md
  src/components/admin/dashboard/AdminDashboardApp.tsx
  src/components/admin/dashboard/hooks/useAdminDiscounts.ts
  src/components/admin/dashboard/sections/DiscountManagementSection.tsx
  src/lib/admin/api-client.ts
  src/lib/i18n-admin.ts
  src/lib/services/discount-service.ts
  src/lib/validation/index.ts
  src/lib/validation/schemas/discount.ts
  src/locales/admin.de.json
  src/locales/admin.en.json
  src/pages/api/AGENTS.md
  src/pages/api/admin/discounts/create.ts
  src/pages/api/admin/discounts/list.ts
  src/pages/api/auth/magic/request.ts
  src/pages/api/health/db.ts
  src/pages/api/user/logout-v2.ts
Due: eslint --fix, prettier --write

feat: add Copilot onboarding guide and usage/entitlements integration tests
  .github/copilot-instructions.md
  .logs/cascade-post-write-quality.log
  .logs/cascade-pre-write-guard.log
  tests/integration/api/admin-credits-happy.test.ts
  tests/integration/api/ai-image-usage.test.ts
  tests/integration/api/web-eval-usage.test.ts
Due: eslint --fix, prettier --write

feat: add web-eval environment variables to .env.example and update production readiness documentation
  .env.example
  .logs/cascade-post-write-quality.log
  .logs/cascade-pre-run-command.log
  .logs/cascade-pre-write-guard.log
  docs/ops/production-readiness-go-live.md
  file_example_MP4_480_1_5MG.mp4
  package-lock.json
  package.json
  src/lib/kv/usage.ts
  src/lib/services/ai-image-service.ts
  src/lib/testing/web-eval/env.ts
  src/pages/api/admin/discounts/[id]/create-stripe-coupon.ts
  src/pages/api/ai-image/usage.ts
  src/pages/api/ai-video/usage.ts
  src/pages/api/billing/stripe-webhook.ts
  src/pages/api/dashboard/billing-summary.ts
  src/pages/api/health/db.ts
  src/pages/api/prompt/usage.ts
  src/pages/api/testing/evaluate/index.ts
  src/pages/api/voice/usage.ts
  src/pages/api/webscraper/usage.ts
  src/pages/dashboard.astro
  src/pages/en/dashboard.astro
  test-suite-v2/src/e2e/quota-smoke.spec.ts
  tests/integration/api/ai-image-quota.test.ts
  tests/integration/api/ai-video-usage.test.ts
  tests/integration/api/dashboard/billing-summary.tools.test.ts
  tests/integration/api/health-db.test.ts
  tests/integration/api/quota-staging.test.ts
  tests/integration/api/web-eval-quota.test.ts
  wrangler.toml
Due: eslint --fix, prettier --write

docs: add video usage display to enhancer UI and update production readiness documentation
  .logs/cascade-post-write-quality.log
  .logs/cascade-pre-write-guard.log
  docs/ops/production-readiness-go-live.md
  src/components/tools/video-enhancer/VideoEnhancerIsland.tsx
  src/components/tools/video-enhancer/useVideoUsage.ts
  wrangler.toml
Due: eslint --fix, prettier --write

docs: add AI Video API documentation and enhance usage endpoint descriptions across all AI services
  docs/api/README.md
  docs/api/admin_api.md
  docs/api/ai-image_api.md
  docs/api/ai-video_api.md
  docs/api/api-guidelines.md
  docs/api/error-handling.md
  docs/api/voice_api.md
  docs/api/webscraper_api.md
  docs/architecture/ai-image-enhancer.md
  docs/architecture/feature-flags.md
  docs/architecture/prompt-enhancer.md
  docs/content.md
  docs/development/github-agent-verification.md
  docs/features/blog+commentsystem-plan.md
  docs/features/blog-story-series.md
  docs/ops/README.md
  docs/ops/production-readiness-go-live.md
  docs/ops/runbook-ai-image-enhancer-launch.md
  docs/ops/runbook-ai-video-enhancer-launch.md
  docs/ops/runbook-image-enhancer-go-live.md
  docs/ops/runbook-playwright-mcp.md
  docs/ops/runbook-prompt-enhancer-launch.md
  docs/ops/runbook-voice-transcriptor-launch.md
  docs/ops/runbook-web-eval-launch.md
  docs/ops/runbook-webscraper-launch.md
  docs/ops/tool-launch-matrix.md
  docs/ops/web-eval-executor-runbook.md
  docs/tools/image-enhancer.md
  docs/tools/prompt-enhancer.en.md
  docs/tools/prompt-enhancer.md
  docs/tools/video-enhancer.md
  docs/tools/web-eval.md
  docs/tools/webscraper/README.md
Due: prettier --write

``` chore: update cascade post-write quality log with recent file modifications
  .logs/cascade-post-write-quality.log
  .logs/cascade-pre-run-command.log
  .logs/cascade-pre-write-guard.log
  .windsurf/rules/_README.md
  .windsurf/rules/tooling-and-style.md
  public/images/blog/default-og.svg
Due: prettier --write

``` chore: remove obsolete English locale backup file
  src/locales/en.json.backup
  src/locales/en.json.problem
Due: none

``` chore: update Windsurf rules index and add Playwright MCP server configuration
  .codex/config.toml
  .windsurf/AGENTS.md
  .windsurf/rules/_README.md
  .windsurf/rules/_SUMMARY.md
  .windsurf/rules/_snyk_rules.md
  .windsurf/rules/agentic-workflow.md
  .windsurf/rules/api-and-security.md
  .windsurf/rules/auth.md
  .windsurf/rules/background-jobs.md
  .windsurf/rules/caching-kv.md
  .windsurf/rules/content.md
  .windsurf/rules/cookies-and-consent.md
  .windsurf/rules/database-migrations.md
  .windsurf/rules/docs-documentation.md
  .windsurf/rules/email-notifications.md
  .windsurf/rules/frontend-state.md
  .windsurf/rules/i18n.md
  .windsurf/rules/image-enhancer.md
  .windsurf/rules/infra.md
  .windsurf/rules/observability.md
  .windsurf/rules/performance.md
  .windsurf/rules/pricing.md
  .windsurf/rules/testing-and-ci.md
  .windsurf/rules/tooling-and-style.md
  .windsurf/rules/video-enhancer.md
  .windsurf/workflows/code-hygiene-readonly.md
  AGENTS.override.md
  docs/AGENTS.md
  migrations/AGENTS.md
  scripts/AGENTS.md
  src/components/AGENTS.md
  src/lib/AGENTS.md
  src/pages/api/AGENTS.md
Due: prettier --write

chore: remove .logs from repo and ignore logs
  .gitignore
  .logs/cascade-post-write-quality.log
  .logs/cascade-pre-run-command.log
  .logs/cascade-pre-write-guard.log
  .logs/stripe-live-setup/20250914-212349/ids.env
  .logs/stripe-live-setup/20250914-212349/prod_pro.json
  .logs/stripe-live-setup/20250914-230935/PROD_PRO.txt
  .logs/stripe-live-setup/20250915-035205/checkout.session.json
  .logs/stripe-live-setup/20250915-035205/tail.pid
  .logs/stripe-live-setup/20250915-035205/wrangler.tail.jsonl
  .logs/stripe-live-setup/20250915-035255/checkout.body.json
  .logs/stripe-live-setup/20250915-035255/checkout.headers.txt
  .logs/stripe-live-setup/20250915-040528/wrangler.tail.jsonl
  .logs/stripe-live-setup/20250915-040604/checkout.body.json
  .logs/stripe-live-setup/20250915-040604/wrangler.tail.jsonl
  .logs/stripe-live-setup/20250915-040932/checkout.body.json
  .logs/stripe-live-setup/20250915-040932/wrangler.tail.jsonl
  .logs/stripe-live-setup/20250915-054737/tail.pid
  .logs/stripe-live-setup/20250915-054737/wrangler.tail.jsonl
  .logs/stripe-live-setup/20250915-181741/sessions.json
  .logs/stripe-live-setup/20250915-181936/events.json
  .logs/stripe-live-setup/latest
  .logs/web-eval-executor.log
  .logs/wrangler-8790.log
Due: prettier --write

chore: ignore reports artifacts
  .gitignore
Due: none

chore: stop tracking public/scripts output
  .gitignore
  public/scripts/coming-soon-client.js
Due: none

h
  scripts/warmup.ts
Due: eslint --fix, prettier --write

``` feat(deploy): add pretty mode with filtered output and verbose flag
  scripts/deploy.ts
Due: eslint --fix, prettier --write

``` chore: improve docs, SEO, and deployment tooling
  docs/AGENTS.md
  docs/content.md
  docs/development/github-agent-verification.md
  docs/features/blog-story-series.md
  docs/reference/environment.md
  package.json
  public/robots.txt
  scripts/deploy.ts
  src/components/pricing/FeatureComparison.astro
  src/lib/contentful/client.ts
  src/lib/seo.ts
  src/locales/de.json
  src/locales/en.json
  src/middleware.ts
  src/pages/robots.txt.ts
  src/pages/sitemap.xml.ts
  src/styles/global.css
  tests/integration/routing/robots-sitemap-seo.test.ts
  tests/integration/setup/global-setup.ts
  tests/performance/load-test-config.json
  tests/performance/run-load-tests.ts
  wrangler.ci.toml
  wrangler.toml
Due: eslint --fix, prettier --write

``` feat(landing): add video hero, proof blocks, and public docs service
  public/media/home-hero.mp4
  src/components/docs/DocsHero.astro
  src/components/landing/PromptStarters.astro
  src/components/landing/ProofBlock.astro
  src/components/landing/QuickFlow.astro
  src/components/landing/ToolHero.astro
  src/components/landing/UseCases.astro
  src/lib/public-docs.ts
  src/locales/de.json
  src/locales/en.json
  src/pages/de/index.astro
  src/pages/docs/[slug].astro
  src/pages/docs/api.ts
  src/pages/docs/faq.ts
  src/pages/docs/getting-started.ts
  src/pages/docs/guides.ts
  src/pages/docs/index.astro
  src/pages/en/docs/[slug].astro
  src/pages/en/docs/api.ts
  src/pages/en/docs/faq.ts
  src/pages/en/docs/getting-started.ts
  src/pages/en/docs/guides.ts
  src/pages/en/index.astro
  src/styles/landing-home.css
Due: eslint --fix, prettier --write

``` chore: remove obsolete files and add blog content rules
  .codex/config.toml
  .windsurf/rules/blog-content.md
  hub-evolution.com-Coverage-2025-11-07/Diagramm.csv
  hub-evolution.com-Coverage-2025-11-07/Kritische Probleme.csv
  hub-evolution.com-Coverage-2025-11-07/Metadaten.csv
  hub-evolution.com-Coverage-2025-11-07/Nicht kritische Probleme.csv
  mcp-hub-admin/package-lock.json
  mcp-hub-admin/package.json
  mcp-hub-admin/src/index.ts
  mcp-hub-admin/tsconfig.json
  mcp-hub-admin/wrangler.toml
  src/components/Header.astro
  src/components/landing/PromptStarters.astro
  src/components/landing/ProofBlock.astro
  src/components/landing/QuickFlow.astro
  src/components/landing/UseCases.astro
  src/components/tools/prompt-enhancer/EnhancerForm.test.tsx
  src/components/tools/prompt-enhancer/EnhancerForm.tsx
  src/pages/de/index.astro
  src/pages/de/tools/prompt-enhancer/app.astro
  src/pages/en/index.astro
  src/pages/en/tools/prompt-enhancer/app.astro
  src/pages/tools/prompt-enhancer/app.astro
  src/styles/landing-home.css
  tmp-landing-staging.hub-evolution.com-dark-desktop.png
  tmp-landing-staging.hub-evolution.com-dark-mobile.png
  tmp-landing-staging.hub-evolution.com-light-desktop.png
  tsconfig.src.json
  wrangler.toml
Due: eslint --fix, prettier --write

.gitattributes erstellen
  .gitattributes
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,astro}
  prettier --write: (any of: *.{ts,tsx,astro}) or (any of: *.{json,md,yaml,yml})
